<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增油弹集装箱状态')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-container-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">编号：</label>
                    <div class="col-sm-8">
                        <input name="no" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油弹集装箱开关状态：</label>
                    <div class="col-sm-8">
                        <input name="oilContainer" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油种类1：</label>
                    <div class="col-sm-8">
                        <input name="oilType1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油量1：</label>
                    <div class="col-sm-8">
                        <input name="oilQuantity1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油种类2：</label>
                    <div class="col-sm-8">
                        <input name="oilType2" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油量2：</label>
                    <div class="col-sm-8">
                        <input name="oilQuantity2" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油种类3：</label>
                    <div class="col-sm-8">
                        <input name="oilType3" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">油量3：</label>
                    <div class="col-sm-8">
                        <input name="oilQuantity3" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹种类1：</label>
                    <div class="col-sm-8">
                        <input name="model1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹量1：</label>
                    <div class="col-sm-8">
                        <input name="quantity1" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹种类2：</label>
                    <div class="col-sm-8">
                        <input name="model2" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹量2：</label>
                    <div class="col-sm-8">
                        <input name="quantuty2" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹种类3：</label>
                    <div class="col-sm-8">
                        <input name="model3" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹量3：</label>
                    <div class="col-sm-8">
                        <input name="quantity3" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹种类4：</label>
                    <div class="col-sm-8">
                        <input name="model4" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹量4：</label>
                    <div class="col-sm-8">
                        <input name="quantity4" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹种类5：</label>
                    <div class="col-sm-8">
                        <input name="model5" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">弹量5：</label>
                    <div class="col-sm-8">
                        <input name="quantity5" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/container"
        $("#form-container-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-container-add').serialize());
            }
        }
    </script>
</body>
</html>